<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">
  <targets>
    <target xsi:type="ColoredConsole" name="Console" />
  </targets>
  <rules>
    <logger name="Netgear.Program" minLevel="Trace" writeTo="Console" final="true"/>
    <logger name="*" minLevel="Debug" writeTo="Console"/>
  </rules>
</nlog>